@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Hairline.otf);
    font-weight: 100;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Ultralight.otf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: normal;
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBold.otf);
    font-weight: bolder;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Black.otf);
    font-weight: 900;
}
