body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 96%;
  max-width: 1250px;
  margin: 0px auto;
}

header.home {
  color: #FFFFFF;
  background: url("../img/splash.jpg");
  padding: 30px 20px 0px;
  min-height: 500px;
  background-size: cover;
  border-bottom: 4px solid #C1CACC;
}

header.home.black {
  background: #222222;
  min-height: inherit;
  border-bottom: 0px;
  padding-bottom: 20px;
}

header.home .logo img {
  width: 36px;
  height: 36px;
  margin-top: 14px;
}

header.home .logo span {
  color: #FFFFFF;
  display: inline-block;
  font-size: 42px;
  position: relative;
  top: -3px;
  left: 8px;
}

header.home .nav {
  display: flex;
  justify-content: space-between;
}

header.home .welcome {
  margin-top: 130px;
  color: #FFFFFF;
  line-height: 1;
}

header.home .welcome h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  margin: 0px;
}

header.home .welcome h1 {
  font-size: 80px;
  font-weight: 500;
  margin: 0px 0px 30px;
}

a.round-button {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 30px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

header.home .welcome a.round-button {
  color: #FFFFFF;
  background: #343434;
  font-weight: 300;
  transition: background 0.2s ease-in;
}

header.home .welcome a.round-button:hover {
  background: #545454;
}

.about, .books {
  padding: 80px 0px;
}

.about {
  background: #EDF3F4;
}

.books {
  background: #3C3C3C;
}

.books h2 {
  font-size: 30px;
  margin-bottom: 50px;
  color: #FFFFFF;
  margin: 0px auto;
  text-align: center;
}

.books h2::after {
  display: block;
  height: 2px;
  width: 40px;
  background: #28CDF0;
  content: "";
  margin: 0px auto;
  margin-top: 8px;
}

.footer {
  background: #222222;
  padding: 30px 0px;
}

.footer .wrapper {
  display: flex;
}

.footer h3 {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
}

.footer .contact {
  flex-grow: 1;
}

.footer .contact p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  line-height: 1.1;
}

.footer .contact p.spacing {
  margin-top: 30px;
}

.footer .media {
  flex-grow: 0;
}

.footer .media h3 {
  margin-bottom: 30px;
}

.book-detail {
  background: #EDF3F4;
  padding: 40px 0px;
}

.book-detail .book-detail-container {
  display: block;
  padding: 60px;
}

.book-detail-container .detail {
  display: flex;
}

.book-detail-container .detail .img {
  flex-grow: 0;
  width: 34%;
}

.book-detail-container .detail .img img {
  width: 100%;
  height: auto;
}

.book-detail-container .detail .info {
  flex-grow: 1;
  margin-left: 60px;
}

.book-detail-container .detail .info h1 {
  margin-top: 0px;
  color: #222222;
}

.book-detail-container .rate {
  display: block;
  margin-bottom: 20px;
}

.book-detail-container .separator {
  height: 1px;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px dashed #E5E5E5;
  margin: 60px 0px;
  display: block;
}

.book-detail-container .tab-content {
  padding: 20px 0px;
}

@media all and (max-width: 850px) {
  header.home .welcome h1 {
    font-size: 56px;
  }

  header.home .welcome h2 {
    font-size: 16px;
  }

  .wrapper {
      width: 90%;
  }

  .book-detail, .book-detail .book-detail-container {
    padding: 40px 20px;
  }

  .book-detail-container .detail {
    display: block;
  }

  .book-detail-container .detail .img {
    width: 60%;
    display: block;
    margin: 0px auto;
  }

  .book-detail-container .detail .info {
    margin-left: 0px;
    text-align: center;
  }

  .book-detail-container .detail .info h1 {
    margin-top: 16px;
    font-size: 18px;
  }
}

@media all and (max-width: 600px) {

}

@media all and (max-width: 560px) {
  .footer .wrapper {
    display: block;
    text-align: center;
  }

  .footer .contact {
    margin-bottom: 40px;
  }

  header.home {
    min-height: inherit;
  }

  header.home .welcome {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  header.home .welcome h1 {
    font-size: 35px;
    margin-top: 6px;
  }

  header.home .welcome h2 {
    font-size: 12px;
  }

  a.round-button {
    padding: 5px 15px;
    font-size: 12px;
  }

  .book-detail {
    padding: 30px 0px;
  }

  .book-detail-container .detail .img {
    width: 100%;
  }
}
