<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="components/obl-menu.html">
<link rel="import" href="components/obl-card-info.html">
<link rel="import" href="components/obl-books-grid.html">
<link rel="import" href="components/obl-media-icons.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="components/obl-buy-item.html">
<link rel="import" href="components/obl-tabs-component.html">
<link rel="import" href="components/obl-table.html">
<link rel="import" href="components/obl-rate.html">
<link rel="import" href="components/obl-review-list.html">
<link rel="import" href="components/obl-quotes.html">

<dom-module is="books-component">
  <template>
    <style></style>
    <header class="home black" id="home-books">
      <div class="wrapper">
        <div class="nav">
          <a href="#"><div class="logo"><img src="img/logo.png" /><span>PR</span></div></a>
          <obl-menu items='["home", "about", "books"]'
                    collapse-on="(max-width: 600px)"
                    no-selected-item-on-start>
          </obl-menu>
        </div>
      </div>
    </header>
    <div class="book-detail">
      <div class="wrapper">
        <paper-card class="book-detail-container">
          <div class="detail">
            <div class="img">
              <img src="{{book.cover}}" />
            </div>
            <div class="info">
              <h1>{{book.title}}</h1>
              <div class="rate"><obl-rate rate="{{book.rate}}"></obl-rate></div>
              <obl-buy-item price="{{book.price}}"></obl-buy-item>
            </div>
          </div>
          <div class="separator"></div>
          <obl-quotes quotes='[{"quote": "This was worth the wait. I gulped it down in a day, staying up almost to dawn reading, and I am already itching for the next one. He is bloody good, this Rothfuss guy.", "author": "George R. R. Martin"},
                               {"quote": "This is a magnificent book, a really fine story, highly readable and engrossing. I compliment young Pat. His first novel is a great one. Wow!", "author": "Anne McCaffrey"}]'>
          </obl-quotes>
          <div class="separator"></div>
          <obl-tabs-component menu-items='["Description", "Reviews"]'>
            <div class="tab-content">
              <obl-table items='[{"th": "Pages", "td": ["56 Pages"]},
                                 {"th": "Cover Design", "td": ["Some name"]},
                                 {"th": "Languaje", "td": ["English"]},
                                 {"th": "ISBN", "td": ["Some ISBN"]},
                                 {"th": "Released", "td": ["Some date"]}]'>
              </obl-table>
            </div>
            <div class="tab-content">
              <obl-review-list rate="{{book.rate}}" reviews="{{book.reviews}}"></obl-review-list>
            </div>
          </obl-tabs-component>
        </paper-card>
      </div>
    </div>
    <footer class="footer">
      <div class="wrapper">
        <div class="contact">
          <h3>Contact us</h3>
          <p>78 East 88th Street, Suite 209 </p>
          <p>New York, NY, 10221</p>
          <p>1-347-567-8670</p>
          <p class="spacing">books@ort.edu.uy</p>
        </div>
        <div class="media">
          <h3>Follow us!</h3>
          <obl-media-icons social-media='[{"media": "facebook", "url": "https://www.facebook.com/Patrick.Rothfuss/"},
                                          {"media": "twitter", "url": "https://twitter.com/patrickrothfuss"}]'>
          </obl-media-icons>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "books-component",
      properties: {
        book: {
          type: Object,
          value: {},
          observer: 'onBookChange'
        }
      },
      onBookChange: function(newValue, oldValue) {
        document.body.scrollTop = "0px";
      }
    });
  </script>
</dom-module>
