<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="components/obl-menu.html">
<link rel="import" href="components/obl-card-info.html">
<link rel="import" href="components/obl-books-grid.html">
<link rel="import" href="components/obl-media-icons.html">
<link rel="import" href="bower_components/carbon-route/carbon-route.html">
<link rel="import" href="bower_components/carbon-route/carbon-location.html">
<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="books-component.html">

<dom-module is="index-component">
  <template>
    <style></style>
    <carbon-location route="{{route}}" use-hash-as-path></carbon-location>
    <carbon-route route="{{route}}" pattern="/books-detail" data="{{routeData}}" tail="{{subroute}}"></carbon-route>
    <carbon-route route="{{subroute}}" pattern="/:id" data="{{subrouteData}}" active="{{bookPageActive}}"></carbon-route>
    <template is="dom-if" if$="{{normalPageActive}}">
      <header class="home" id="home">
        <div class="wrapper">
          <div class="nav">
            <a href="index.html"><div class="logo"><img src="img/logo.png" /><span>PR</span></div></a>
            <obl-menu items='["home", "about", "books"]' collapse-on="(max-width: 600px)"></obl-menu>
          </div>
          <div class="welcome">
            <h2>No two persons ever read the same book</h2>
            <h1>Patrick Rothfuss</h1>
            <a class="round-button" href="#books">Start reading now</a>
          </div>
        </div>
      </header>
      <div class="about" id="about">
        <div class="wrapper">
          <obl-card-info photo="img/patrick-rothfuss.jpg" title="About The Author">
            <p>Patrick James Rothfuss is an American writer of epic fantasy. He is best known for his projected three-volume series The Kingkiller Chronicle.</p>
            <p>Rothfuss&#39; first novel, The Name of the Wind, was published in 2007. It won a Quill Award (for Science Fiction, Fantasy and Horror) and was listed among Publishers Weekly&#39;s "Books of the Year". It also won an Alex Award in 2008.</p>
            <p>In August 2012, Rothfuss began a monthly podcast called The Story Board on fantasy, featuring authors such as Terry Brooks and Brandon Sanderson. The Story Board ran for 8 episodes.</p>
          </obl-card-info>
        </div>
      </div>
      <div class="books" id="books">
        <div class="wrapper">
          <h2>The books</h2>
          <obl-books-grid books='{{books}}'>
          </obl-books-grid>
        </div>
      </div>
      <footer class="footer">
        <div class="wrapper">
          <div class="contact">
            <h3>Contact us</h3>
            <p>78 East 88th Street, Suite 209 </p>
            <p>New York, NY, 10221</p>
            <p>1-347-567-8670</p>
            <p class="spacing">books@ort.edu.uy</p>
          </div>
          <div class="media">
            <h3>Follow us!</h3>
            <obl-media-icons social-media='[{"media": "facebook", "url": "https://www.facebook.com/Patrick.Rothfuss/"},
                                            {"media": "twitter", "url": "https://twitter.com/patrickrothfuss"}]'>
            </obl-media-icons>
          </div>
        </div>
      </footer>
    </template>
    <template is="dom-if" if$="{{bookPageActive}}">
      <books-component book="[[book]]"></books-component>
    </template>
  </template>
  <script>
    Polymer({
      is: "index-component",
      properties: {
        books: {
          type: Array,
          value: [{"cover": "img/cover-01.jpg", "title": "The Slow Regard of Silent Things", "price": "20.0", "url": "#/books-detail/1", "rate": "0", "reviews": []},
                  {"cover": "img/cover-02.jpg", "title": "The Wise Man&#39;s Fear", "price": "20.0", "url": "#/books-detail/2", "rate": "2", "reviews": []},
                  {"cover": "img/cover-03.jpg", "title": "The Name of the Wind", "price": "20.0", "url": "#/books-detail/3", "rate": "1", "reviews": []},
                  {"cover": "img/cover-04.jpg", "title": "The Doors of Stone", "price": "20.0", "url": "#/books-detail/4", "rate": "4", "reviews": []},
                  {"cover": "img/cover-05.jpg", "title": "Unfettered", "price": "20.0", "url": "#/books-detail/5", "rate": "3", "reviews": []},
                  {"cover": "img/cover-06.jpg", "title": "The Walking Fire", "price": "20.0", "url": "#/books-detail/6", "rate": "5", "reviews": []},
                  {"cover": "img/cover-07.jpg", "title": "Slab City Blues", "price": "20.0", "url": "#/books-detail/7", "rate": "0", "reviews": []},
                  {"cover": "img/cover-08.jpg", "title": "The Queen of Fire", "price": "20.0", "url": "#/books-detail/8", "rate": "1", "reviews": []}]
        },
        route: {
          type: Object,
          observer: "onRouteChange"
        },
        normalPageActive: {
          type: Boolean,
          value: true
        },
        bookPageActive: {
          type: Boolean,
          value: true,
          observer: 'onBookPageChange'
        },
        selectedBook: {
          type: Object,
          value: {}
        }
      },
      ready: function() {
        if (!this.route.path)
          this.set('route.path', '/');
        if (this.route.path.indexOf("books-detail") > 0)
          this.onBookPageChange(true, false);
      },
      onRouteChange: function() {
        var isNormalPage = this.route.path.indexOf("books-detail") < 0;
        this.normalPageActive = isNormalPage;
        this.bookPageActive = !isNormalPage;
      },
      onBookPageChange: function(newValue, oldValue) {
        if (newValue && this.subrouteData != null) {
          var id = this.subrouteData.id - 1;
          if (id < 0 || id >= this.books.length)
            return;
          this.normalPageActive = !newValue;
          this.book = this.books[id];
        }
      }
    })
  </script>
</dom-module>
