<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="obl-rate.html">
<link rel="import" href="obl-comment-form.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module is="obl-review-list">
  <template>
    <style>
      .comment {
        display: flex;
        margin: 20px 0px;
      }

      iron-image {
        width: 50px;
        height: 50px;
        border: 3px solid #CCCCCC;
        margin-right: 20px;
        flex-grow: 0;
      }

      .comment-body {
        flex-grow: 1;
        border-radius: 4px;
        border: 1px solid #E4E1E3;
        padding: 10px;
        display: flex;
      }

      :host.small .comment-body {
        flex-direction: column-reverse;
      }

      .body {
        flex-grow: 1;
      }

      .body .title {
        color: #777777;
        font-weight: bold;
      }

      .body p {
        color: #757575;
        margin-bottom: 0px;
      }

      .rate {
        flex-grow: 0;
      }

      h3 {
        color: rgb(34, 34, 34);
        font-size: 24px;
      }

      .empty-state {
        margin: 40px 0px 50px;
        display: inline-block;
        font-size: 14px;
        color: #222222;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      }
    </style>
    <iron-media-query query="(max-width: 550px)" query-matches="{{smallWidth}}"></iron-media-query>
    <template is="dom-repeat" items="{{reviews}}">
      <div class="comment">
        <iron-image src="../img/cover-01.jpg" sizing="cover"></iron-image>
        <div class="comment-body">
          <div class="body">
            <div class="title">{{item.author}}</div>
            <p>{{item.review}}</p>
          </div>
          <div class="rate"><obl-rate rate="{{item.rate}}"></obl-rate></div>
        <div>
      </div>
    </template>
    <template is="dom-if" if="{{empty}}">
      <p class="empty-state">There are no reviews yet. Be the first one!</p>
    </template>
    <h3>Add a review</h3>
    <obl-comment-form reviews="{{reviews}}"></obl-comment-form>
  </template>
  <script>
    Polymer({
      is: "obl-review-list",
      properties: {
        reviews: {
          type: Array,
          value: [],
          notify: true,
          observer: "newItems"
        },
        empty: {
          type: Boolean,
          value: true
        },
        rate: {
          type: Number,
          value: 0,
          notify: true
        },
        smallWidth: {
          type: Boolean,
          observer: "breakOnSmallWidth"
        }
      },
      observers: [
        'newItems(reviews.splices)'
      ],
      newItems: function() {
        this.empty = this.reviews.length == 0;
        rate = 0;
        for (var i = 0; i < this.reviews.length; i++)
          rate += this.reviews[i].rate;
        this.set('rate', this.reviews.length == 0 ? 0 : rate / this.reviews.length);
      },
      breakOnSmallWidth: function(newValue, oldValue) {
        this.toggleClass('small', newValue);
      }
    });
  </script>
</dom-module>
