<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="obl-card-info">
  <template>
    <style>
      .container {
        display: flex;
        min-height: 400px;
      }

      :host.small .container {
        display: block;
      }

      .img {
        flex-grow: 0;
        flex-shrink: 0;
        background-size: cover;
      }

      :host.small .img {
        width: 100%;
        height: calc(500px - 30vw);
        min-height: 60vw;
        display: block;
      }

      .info {
        flex-shrink: 1;
        flex-grow: 1;
        padding: 6px 30px;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 50px;
        color: #343434;
      }

      :host.small h1 {
        margin-bottom: 25px;
      }

      h1::after {
        display: block;
        height: 2px;
        width: 40px;
        margin-top: 8px;
        background: #28CDF0;
        content: ""
      }

      .content-wrapper ::content > p {
        color: #8D8D8D;
        font-weight: 200;
        margin: 26px 0px;
      }

      :host.small .content-wrapper ::content > p:nth-child(n+2) {
        display: none;
      }
    </style>
    <iron-media-query query="(max-width: {{breakOnWidth}}px)" query-matches="{{smallSize}}"></iron-media-query>
    <paper-card class="container">
      <div class="img" style="width: {{width}}; background-image: url('{{photo}}')"></div>
      <article class="info">
        <h1>{{title}}</h1>
        <div class="content-wrapper"><content></content></div>
      </article>
    </paper-card>
  </template>
  <script>
    Polymer ({
      is: "obl-card-info",
      properties: {
        title: String,
        photo: String,
        info: Array,
        imageWidth: {
          type: String,
          value: "400px"
        },
        breakOnWidth: {
          type: Number,
          value: 800
        },
        smallSize: {
          type: Boolean,
          observer: 'doOnSmallSize'
        },
        width: String
      },
      doOnSmallSize: function(newValue, oldValue) {
        this.width = newValue ? "100%" : this.imageWidth;
        this.toggleClass('small', newValue);
      }
    });
  </script>
</div>
