<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module is="obl-rate">
  <template>
    <style>
      .container {
        display: inline-block;
      }

      iron-icon {
        width: 21px;
        height: 21px;
      }

      iron-icon.interactive {
        cursor: pointer;
      }

      iron-icon.selected {
        fill: #FFD409;
      }

      iron-icon.highlighted {
        fill: #EFE4B0;
      }

      iron-icon.normal {
        fill: rgba(0, 0, 0, 0);
        stroke: #242424;
      }
    </style>
    <div on-mouseleave="starBlur" class="container">
      <template is="dom-repeat" items="[[items]]">
        <template is="dom-if" if="[[item.selected]]">
          <iron-icon icon="star"
                     class$="{{getClass('selected')}}"
                     on-mouseover="starHovered"
                     data-index$="{{index}}">
          </iron-icon>
        </template>
        <template is="dom-if" if="[[item.highlighted]]">
          <iron-icon icon="star"
                     class$="{{getClass('highlighted')}}"
                     on-mouseout="starBlur" on-tap="starTapped"
                     data-index$="{{index}}">
          </iron-icon>
        </template>
        <template is="dom-if" if="[[item.normal]]">
          <iron-icon icon="star"
                     class$="{{getClass('normal')}}"
                     on-mouseover="starHovered"
                     data-index$="{{index}}">
          </iron-icon>
        </template>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: "obl-rate",
      properties: {
        numberOfStars: {
          type: Number,
          value: 5,
          observer: 'applyToItems'
        },
        items: {
          type: Array,
          value: []
        },
        rate: {
          type: Number,
          value: 0,
          observer: 'applyToItems',
          notify: true
        },
        interactive: {
          type: Boolean,
          value: false
        }
      },
      applyToItems: function() {
        this.items = [];
        for (var i = 1; i <= this.numberOfStars; i++)
          this.push('items', {selected: (i <= this.rate), highlighted: false, normal: (i > this.rate)});
      },
      getClass: function(base) {
        if (this.interactive)
          return "interactive " + base;
        return base;
      },
      starHovered: function(e) {
        if (!this.interactive) return;
        elem = e.target;
        index = parseInt(elem.getAttribute("data-index")) + 1;
        this.items = [];
        for (var i = 1; i <= this.numberOfStars; i++)
          this.push('items', {selected: (i < index), highlighted: (i == index), normal: (i > index)});
      },
      starBlur: function(e) {
        if (!this.interactive) return;
        this.applyToItems();
      },
      starTapped: function(e) {
        if (!this.interactive) return;
        elem = e.target;
        index = parseInt(elem.getAttribute("data-index")) + 1;
        this.set('rate', index);
      }
    });
  </script>
</dom-module>
