<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<dom-module is="obl-tabs-component">
  <template>
    <style>
      :host {
        --paper-tabs: {
          color: #757575;
          text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
          font-size: 24px;
          text-transform: capitalize;
          letter-spacing: 1px;
        }

        --paper-tab-ink: #F0F0F0;

        --paper-tabs-selection-bar-color: #28CDF0;
      }

      paper-tab {
        padding: 0px;
        margin-right: 20px;
      }
    </style>
    <paper-tabs selected="0" scrollable hide-scroll-buttons>
      <template is="dom-repeat" items="{{menuItems}}">
        <paper-tab>{{item}}</paper-tab>
      </template>
    </paper-tabs>
    <iron-pages selected="0">
      <content></content>
    </iron-pages>
  </template>
  <script>
    Polymer({
      is: "obl-tabs-component",
      properties: {
        menuItems: {
          type: Array,
          value: []
        }
      },
      ready: function() {
        var self = this;
        document.addEventListener('dom-change', function(e) {
          var pages = self.querySelector('iron-pages');
          var tabs = self.querySelector('paper-tabs');
          tabs.addEventListener('iron-select', function() {
              pages.selected = tabs.selected;
          });
        });
      }
    });
  </script>
</dom-module>
