<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module is="obl-quotes">
  <template>
    <style>
      .quotes {
        display: flex;
        justify-content: space-around;
      }

      :host.small .quotes {
        display: block;
      }

      .quote {
        flex-grow: 1;
        margin: 0px 60px;
      }

      :host.medium .quote{
        margin: 0px 20px;
      }

      :host.small .quote {
        margin: 0px 5px;
      }

      p {
        font-style: italic;
        font-size: 16px;
      }

      :host.small p {
        font-size: 14px;
      }

      h4 {
        font-size: 18px;
      }

      :host.small h4 {
        font-size: 16px;
      }

      h4::before {
        content: "- ";
      }
    </style>
    <iron-media-query query="(max-width: 900px) and (min-width: 710px)" full query-matches="{{mediumWidth}}"></iron-media-query>
    <iron-media-query query="(max-width: 710px)" query-matches="{{smallWidth}}"></iron-media-query>
    <div class="quotes">
      <template is="dom-repeat" items="{{quotes}}">
        <div class="quote">
          <p>{{item.quote}}</p>
          <h4>{{item.author}}</h4>
        </div>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: "obl-quotes",
      properties: {
        quotes: {
          type: Array,
          value: []
        },
        mediumWidth: {
          type: Boolean,
          observer: "doOnMediumSize"
        },
        smallWidth: {
          type: Boolean,
          observer: "doOnSmallSize"
        }
      },
      doOnMediumSize: function(newValue, oldValue) {
        this.toggleClass('medium', newValue);
      },
      doOnSmallSize: function(newValue, oldValue) {
        this.toggleClass('small', newValue);
      }
    });
  </script>
</dom-module>
