<dom-module is="obl-buy-item">
  <template>
    <style>
      .box {
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        display: inline-block;
      }

      .box .title {
        background: #EDF3F4;
        padding: 12px;
        border-radius: 4px 4px 0px 0px;
        color: #222222;
        font-size: 25px;
        line-height: 30px;
      }

      .box .content {
        padding: 20px 12px;
      }

      .box .content input {
        border: 1px solid #E5E5E5;
        color: #A4A4A4;
        border-radius: 4px;
        padding: 12px;
        width: 40px;
        text-align: center;
        line-height: 14px;
      }

      .box .content a {
        display: inline-block;
        margin-left: 15px;
        margin-right: 25px;
        background: #2F2B35;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 12px 50px;
        font-size: 16px;
        border-radius: 20px;
        line-height: 16px;
        transition: background 0.3s ease-in;
      }

      .box .content a:hover {
        background: #545454;
      }
    </style>
    <div class="box">
      <div class="title">${{price}}</div>
      <div class="content">
        <input type="text" value="1" /> <a href="#">{{buyButtonText}}</a>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "obl-buy-item",
      properties: {
        price: Number,
        stock: Number,
        buyButtonText: {
          type: String,
          value: "Buy now"
        }
      }
    });
  </script>
</dom-module>
