<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module id="obl-menu">
  <template>
    <style>
      paper-menu a {
        color: #AAAAAA;
      }

      paper-menu a.iron-selected {
        color: #000000;
      }

      .item {
        max-width: 300px;
      }

      .horizontal-section {
        text-align: center;
      }

      ul.obl-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      ul.obl-menu li a {
          text-decoration: none;
          color: inherit;
          line-height: 1.85;
          padding: 20px 20px 16px;
          display: block;
          text-transform: uppercase;
          font-size: 13px;
      }

      ul.obl-menu .obl-menu-item a::after, ul.obl-menu .obl-menu-item.selected a::after {
        display: block;
        content: "";
        background: #28CDF0;
        height: 1px;
      }

      ul.obl-menu .obl-menu-item:not(.selected) a::after {
        width: 50%;
        margin: 0px auto;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      ul.obl-menu .obl-menu-item:hover a::after {
        width: 100%;
        opacity: 1;
      }

    </style>
    <iron-media-query query="{{collapseOn}}" query-matches="{{collapsed}}"></iron-media-query>
    <template is="dom-if" if="{{collapsed}}">
      <paper-menu-button horizontal-offset="-20" vertial-offset="30px">
        <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
        <paper-menu class="dropdown-content" selected="0">
          <template is="dom-repeat" items="{{items}}">
            <a href="{{baseUrl}}#{{item}}"><paper-item pointer-down>{{item}}</paper-item></a>
          </template>
        </paper-menu>
      </paper-menu-button>
    </template>
    <nav hidden$="{{collapsed}}">
      <ul class="obl-menu" id="container">
        <template is="dom-repeat" items="{{items}}">
          <li class="obl-menu-item" on-tap="itemTapped">
            <a href="{{baseUrl}}#{{item}}">{{item}}</a>
          </li>
        </template>
      </ul>
    </nav>
  </template>
  <script>
    Polymer ({
      is: 'obl-menu',
      properties: {
        items: {
          type: Array,
          value: [],
        },
        collapseOn: String,
        collapsed: {
          type: Boolean,
          value: false
        },
        noSelectedItemOnStart: {
          type: Boolean,
          value: false
        },
        baseUrl: {
          type: String,
          value: ""
        }
      },
      ready: function() {
        if (this.noSelectedItemOnStart) return;

      },
      itemTapped: function(e) {
        elem = this.$.container.querySelectorAll(".selected")[0];
        if (elem == undefined) return;
        elem.className = elem.className.replace("selected", "");
        e.target.parentNode.className += " selected";
      },
      notCollapsed: function() {
        return !collapsed;
      }
    });
  </script>
</dom-module>
