<dom-module id="obl-slider">
  <template>
    <style>

    </style>
  </template>
  <script>
    Polymer({
      is: "obl-slider",
      properties: {
        
      }
    });
  </script>
</dom-module>
