<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="obl-media-icons">
  <template>
    <style>
      a.media-icon-wrapper {
        margin: 0px 10px;
        display: inline-block;
      }

      .media-icon {
        background: #878686;
        color: #222222;
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        transition: all 0.2s ease-in;
      }

      a:hover .media-icon.icon-social-facebook {
        background: #3A5795;
        color: #FFFFFF;
      }

      a:hover .media-icon.icon-social-twitter {
        background: #1DA1F2;
        color: #FFFFFF;
      }

      a.media-icon-wrapper:first-child {
        margin-left: 0px;
      }

      a.media-icon-wrapper:last-child {
        margin-right: 0px;
      }

    </style>
    <template is="dom-repeat" items="{{socialMedia}}">
      <a href="{{item.url}}" class="media-icon-wrapper"><i class$="{{getIconClasses(item.media)}}"></i></a>
    </template>
  </template>
  <script>
    Polymer({
      is: "obl-media-icons",
      properties: {
        socialMedia: {
          type: Array,
          value: []
        }
      },
      getIconClasses: function(icon) {
        return "icons icon-social-" + icon + " media-icon";
      }
    });
  </script>
</dom-module>
