<dom-module is="obl-table">
  <template>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      .table-content {
        border: 0;
        border-top: 1px dotted rgba(0, 0, 0, 0.1);
        width: 100%;
      }

      .table-content th {
        font-weight: bold;
        color: #757575;
        text-align: left;
        width: 150px;
      }

      .table-content td {
        font-style: italic;
      }

      .table-content th, .table-content td {
        padding: 8px;
        margin: 0;
        line-height: 20px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
      }

      .table-content tr:nth-child(even) {
        background: #F9F9F9;
      }
    </style>
    <table class="table-content">
      <tbody>
        <template is="dom-repeat" items="{{items}}" as="row">
          <tr>
            <th>{{row.th}}</th>
            <template is="dom-repeat" items={{row.td}} as="column">
              <td>{{column}}</td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
  <script>
    Polymer({
      is: "obl-table",
      properties: {
        items: {
          type: Array,
          value: []
        }
      }
    });
  </script>
</dom-module>
