<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="obl-rate.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module is="obl-comment-form">
  <template>
    <style>
      .form-element{
        display: flex;
      }

      :host.small .form-element {
        display: block;
        margin-bottom: 20px;
      }

      .form-element label {
        max-width: 150px;
        width: 20%;
        display: inline-block;
        margin-right: 10px;
        color: rgb(117, 117, 117);
        margin-bottom: 10px;
        flex-grow: 0;
        box-sizing: border-box;
        font-weight: bold;
      }

      :host.small .form-element label {
        max-width: 100%;
        width: 100%;
        display: block;
      }

      .input-container {
        flex: 1;
        margin-bottom: 10px;
      }

      .rate {
        display: inline-block;
      }

      :host.small .rate {
        display: block;
      }

      input, textarea {
        background: #EDF3F4;
        color: #333333;
        border-radius: 4px;
        border: none;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
      }

      a {
        margin-top: 20px;
        display: inline-block;
        background: #2F2B35;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 20px;
        line-height: 16px;
        transition: background 0.3s ease-in;
        cursor: pointer;
      }

      a:hover {
        background: #545454;
      }

      :host.small a {
        font-size: 13px;
        line-height: 13px;
        padding: 8px 20px;
      }

      .error {
        display: block;
        background: #D61414;
        padding: 10px 20px;
        color: #FFFFFF;
        transition: all 0.3s ease-in;
        opacity: 0;
        border-radius: 4px;
        margin-top: 10px;
        height: 0px;
      }

      .error.show {
        opacity: 1;
        height: auto;
      }
    </style>
    <iron-media-query query="(max-width: 550px)" query-matches="{{smallWidth}}"></iron-media-query>
    <div class="form-element">
      <label for="raiting">Your rating</label>
      <obl-rate interactive rate="{{rate}}" class="rate"></obl-rate>
    </div>
    <div class="form-element">
      <label for="review">Your review</label>
      <div class="input-container"><textarea class="review-content"></textarea></div>
    </div>
    <div class="form-element">
      <label for="name">Your name</label>
      <div class="input-container"><input type="text" name="name" class="user" /></div>
    </div>
    <span class="error">Please add your name and review</span>
    <a on-tap="addReview">Submit</a>
  </template>
  <script>
    Polymer({
      is: "obl-comment-form",
      properties: {
        reviews: {
          type: Array,
          value: [],
          notify: true
        },
        rate: {
          type: Number,
          value: 0
        },
        smallWidth: {
          type: Boolean,
          observer: "breakOnSmallWidth"
        }
      },
      addReview: function(e) {
        e.preventDefault();

        user = this.getElementsByClassName('user')[0];
        review = this.getElementsByClassName('review-content')[0];

        if (user.value == "" || review.value == "") {
          this.showError();
          return;
        }

        this.push('reviews', {author: user.value, review: review.value, rate: this.rate});

        user.value = "";
        review.value = "";
        this.rate = 0;
        this.hideError();
      },
      showError: function() {
        this.getElementsByClassName('error')[0].className += " show";
      },
      hideError: function() {
        elem = this.getElementsByClassName('error')[0];
        elem.className = elem.className.replace("show", "");
      },
      breakOnSmallWidth: function(newValue, oldValue) {
        this.toggleClass('small', newValue);
      }
    });
  </script>
</dom-repeat>
