<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="obl-books-grid">
  <template>
    <style>
      .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 60px 0px;
      }

      .book-container {
        width: 25%;
        flex-grow: 1;
        margin: 40px 0px;
      }

      :host.big .book-container {
        width: 33%;
      }

      :host.medium .book-container {
        width: 50%;
      }

      :host.small .book-container {
        width: 100%;
      }

      .book {
        margin: 0px auto;
        width: 270px;
        border-radius: 3px;
        background: #FFFFFF;
      }

      :host.small .book {
        max-width: 240px;
        background: rgba(0, 0, 0, 0);
      }

      .book-cover {
        overflow: hidden;
        margin: 0px;
        border-radius: 3px 3px 0px 0px;
      }

      .book-info {
        padding: 0px 30px 10px;
        text-align: center;
      }

      .book-info h3 {
        margin-bottom: 5px;
        padding: 0;
        color: #222222;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 16px;
      }

      .book-info span.price {
        display: block;
        font-size: 20px;
        font-weight: normal;
      }

      a.details-button {
        display: inline-block;
        margin: 20px auto;
        margin-bottom: 5px;
        padding: 5px 30px;
        border-radius: 24px;
        font-size: 18px;
        font-weight: 200;
        line-height: 25px;
        border: 1px solid #B1B1B1;
        color: #B1B1B1;
        transition: all 0.2s ease-in;
      }

      a.details-button:hover {
        color: #222222;
        border-color: #222222;
      }

      figure {
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0);
      }
    </style>
    <iron-media-query query="(max-width: {{collpaseToThreeItems}}px) and (min-width: {{collapseToTwoItems}}px)" full query-matches="{{bigSize}}"></iron-media-query>
    <iron-media-query query="(max-width: {{collapseToTwoItems}}px) and (min-width: {{collpaseToSingleItem}}px)" full query-matches="{{mediumSize}}"></iron-media-query>
    <iron-media-query query="(max-width: {{collpaseToSingleItem}}px)" query-matches="{{smallSize}}"></iron-media-query>
    <div class="container" hidden$="{{smallSize}}">
      <template is="dom-repeat" items="{{books}}">
        <div class="book-container">
          <div class="book">
            <figure class="book-cover">
              <img src="{{item.cover}}" height="345" width="100%"/>
            </figure>
            <div class="book-info">
              <h3>{{item.title}}</h3>
              <span class="price">${{item.price}}</span>
              <a class="details-button" href="{{item.url}}">Details</a>
            </div>
          </div>
        </div>
      </template>
    </div>
    <template is="dom-if" if="{{smallSize}}">
      <div class="container">
        <template is="dom-repeat" items="{{books}}">
          <a href="{{item.url}}" class="book-container">
            <div class="book">
              <figure class="book-cover">
                <img src="{{item.cover}}" height="345" width="100%"/>
              </figure>
            </div>
          </a>
        </template>
      </div>
    </template>
  </template>
  <script>
    Polymer({
      is: "obl-books-grid",
      properties: {
        books: {
          type: Array,
          value: []
        },
        collpaseToThreeItems: {
          type: Number,
          value: 1200
        },
        collapseToTwoItems: {
          type: Number,
          value: 900
        },
        collpaseToSingleItem: {
          type: Number,
          value: 650
        },
        bigSize: {
          type: Boolean,
          value: false,
          observer: 'doOnBigSize'
        },
        mediumSize: {
          type: Boolean,
          value: false,
          observer: 'doOnMediumSize'
        },
        smallSize: {
          type: Boolean,
          value: false,
          observer: 'doOnSmallSize'
        }
      },
      doOnBigSize: function(newValue, oldValue) {
        this.toggleClass('big', newValue);
      },
      doOnMediumSize: function(newValue, oldValue) {
        this.toggleClass('medium', newValue);
      },
      doOnSmallSize: function(newValue, oldValue) {
        this.toggleClass('small', newValue);
      }
    });
  </script>
</dom-module>
